body {
    background-color: black;
    color: white;
    text-align: center;
    margin-left: 23%;
    margin-right: 23%;
    border: 2px outset white
}
@media only screen and (max-width: 1080px) {
    body {
        margin-left: 0px;
        margin-right: 0px;
        border-width: 4px;
    }
}
#header {
    font-family: Arial;
}
nav {
    display: flex;
    justify-content: space-evenly;
}
.navButton {
    color: white;
    text-decoration: none;
    padding: 2px;
    padding-left: 3px;
    padding-right: 3px;
    border: 2px outset white;
}
.navButton:hover {
    color: #40ff00;
    border-color: #40ff00;
}
.navButton#lang {
    position: absolute;
    top: 20px;
    right: 12px;
}
.separetor {
    margin: 12px;
    border: 2px outset white
}
footer {
    padding-bottom: 12px;
}